/* Author: thyplock */

/*body {
    background-color: black;
}*/

/*.title {
    color: chartreuse;
    font-size: 3.2vw;
}*/

/*.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/