/*Author: thyplock*/

body, html {
    margin: 0;
    height: 100%;
}

.bg {
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {
    border: 0px;
    outline:none;
    font-size: 5vh;
    background-color: rgba(0, 0, 0, 0);
}

.previous {
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
}

.next {
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
}
