/*Author: thyplock*/

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-size: 5vh;
}

.previous {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: auto;
}

.next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: auto;
}
